<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<meta charset="utf-8">
<title>chatsjs</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



</head>

<body class="container-fluid">
<center class="row">
	<h1>implementation of <b>chartJS</b> using <b>django</b></h1>
</center>
<hr />
<div class="row">
	<div class="col-md-6">
	<canvas id="myChartline"></canvas>
	</div>
	<div class="col-md-6">
	<canvas id="myChartBar"></canvas>
	</div>
</div>{{d}}
<ul id="disp">

</ul>

<div id="donut-chart"></div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
    $(document).ready(function(){

        setInterval(function(){
            $.ajax({
                type: 'GET',
                url: '{% url 'getting' %}',
                success: function(response) {
                    $("#disp").empty();
                    for(var key in response.d)
                    {
                        
                        var temp="<li>"+response.d[key].q1+"</li>";
                        $("#disp").append(temp);

                    }
                    console.log(response.d);
                    
                    

                },
                error: function(response) {
                    console.log("error_data");
                }
                });
            },1000);
        })

</script>

</body>

</html>
